/DrugDevResearchManagementSystem/nbproject/private/
/DrugDevResearchManagementSystem/build/
/DrugDevResearchManagementSystem/dist/
/StockApplication/nbproject/private/
/StockApplication/build/
/StockApplication/dist/